*{
margin : 0;
padding: 0;
text-align: center;
}

#main-div{
display: flex;
border: 2px solid black;
height: 580px;
margin : 27px;
padding: 14px;
gap:0.5rem;
 flex-wrap: wrap;  
/* Directing the elements */
          /* flex-direction: column;  */
/* flex-direction: column-reverse; */
/* flex-direction: row; */
/* flex-direction: row-reverse; */
/* Handling the conatiners in x-axis */
/* justify-content: center; */
/* justify-content: space-around; */
/* justify-content: space-evenly; */
/* justify-content: space-between; */
/* justify-content: flex-start; */
/* justify-content: flex-end; */
/* justify-content: stretch; */

/* Handling the conatiners in y-axis */
 /* align-content: center;    */
/* align-content: flex-end; */
 /* align-content: space-around;  */
/* align-content: space-between;  */
/* align-content: space-evenly; */
}

.box{
width: 50px;
height: 50px;
background-color: red;
border: 2px solid black;
font-weight: bolder;
display: flex;
justify-content: center; 
align-items: center;

}

.parent{
          width : 100px;
          height: 100px;
          border : 1px solid red;
          display: flex;
          justify-content: center; 
          align-items: center;

}
.child {
          width : 50px;
          height: 50px;
          border : 1px solid red;  
}