.inbuild-events {
  display: flex;
  border: 1px dotted black;
  padding: 17px;
  justify-content: center;
  gap: 1rem;
}
.btn {
  padding: 10px;
  width: 75px;
  border-radius: 5px;
  font-weight: bolder;
  border: none;
}

.alert {
  background-color: crimson;
}

.confirm {
  background-color: green;
}

.prompt {
  background-color: yellow;
}
.timeout {
  background-color: cadetblue;
}
.interval {
  background-color: coral;
}
.btn:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
.res-div {
  font-size: 24px;
  text-align: center;
  padding: 10px;
  margin-top: 60px;
}
