#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.profile-container {
  border: 1px solid black;
  padding: 30px;
  border-radius: 50%;
  margin: 5px;
}
img {
  object-fit: cover;
  width: 100px;
  height: 120px;
}
