/* .box {
  width: 100px;
  height: 100px;
  border-top: 2px solid red;
  border-radius: 50%;
  animation: boxani 10s linear infinite;
}
@keyframes boxani {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */

* {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  background-color: rgb(117, 107, 107);
  padding: 20px;

  margin-bottom: 15px;
}

.conent-view {
  border-radius: 10px;
  display: grid;
  margin: 17px;
  grid-template-columns: 300px 500px;
  background-color: rgb(153, 185, 174);
  gap: 4rem;
}

.left-view {
  margin: 20px;
  background-color: rgb(87, 71, 71);
  width: 300px;
  height: 700px;
  border-radius: 10px;
}

.right-view {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}

input {
  background-color: rgb(87, 71, 71);
  width: 500px;
  padding: 15px;
  border: none;
  border-radius: 5px;
}

.card-containers {
  display: flex;
  gap: 1rem;
}
.card {
  background-color: rgb(87, 71, 71);
  width: 150px;
  height: 100px;
  border-radius: 10px;
}

.long-card {
  background-color: rgb(87, 71, 71);
  width: 500px;
  height: 150px;
  border-radius: 10px;
}
